<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <h6><%= t('layouts.footer.About') %></h6>
        <p class="text-justify">
          <%= t('layouts.footer.Vision') %>
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6><%= t('layouts.footer.Jobs by Type') %></h6>
        <ul class="footer-links">
          <li><%= link_to 'Full time', '#' %></li>
          <li><%= link_to 'Part time', '#' %></li>
          <li><%= link_to 'Freelance', '#' %></li>
          <li><%= link_to 'Contract', '#' %></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6><%= t('layouts.footer.Jobs by City') %></h6>
        <ul class="footer-links">
          <li><%= link_to 'Ho Chi Minh', '#' %></li>
          <li><%= link_to 'Ha Noi', '#' %></li>
          <li><%= link_to 'Da Nang', '#' %></li>
          <li><%= link_to 'Others', '#' %></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6><%= t('layouts.footer.Quick Links') %></h6>
        <ul class="footer-links">
        <li><%= link_to 'About Us', '#' %></li>
        <li><%= link_to 'Contact Us', '#' %></li>
        <li><%= link_to 'Contribute', '#' %></li>
        <li><%= link_to 'Privacy Policy', '#' %></li>
        <li><%= link_to 'Sitemap', '#' %></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; <%= link_to 'JobUp', root_path %>
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><%= link_to '', '#', class: "facebook fab fa-facebook" %></li>
          <li><%= link_to '', '#', class: "twitter fab fa-twitter" %></li>
          <li><%= link_to '', '#', class: "github fab fa-github" %></li>
          <li><%= link_to '', '#', class: "linkedin fab fa-linkedin" %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
