<h1><%= t('candidate.Candidates') %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date of birth</th>
      <th>Phone</th>
      <th>Avatar</th>
      <th>Cv</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @candidates.each do |candidate| %>
    <tr>
        <td><%= candidate.user.first_name %></td>
        <td><%= candidate.user.last_name %></td>
        <td><%= candidate.date_of_birth %></td>
        <td><%= candidate.phone %></td>
        <td class="avatar-index">
          <%= link_to image_tag(candidate.avatar.url(:thumb), class: "image"), candidate  %>
        </td>
        <td><%= candidate.cv %></td>
        <td><%= link_to t('common.Show'), candidate, class: "btn btn-success btn-sm" %></td>
        <% if current_user.id == candidate.user_id %>
          <td><%= link_to t('common.Edit'), edit_candidate_path(candidate), class: "btn btn-primary btn-sm" %></td>
          <td><%= link_to t('common.Delete'), candidate, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="paginate">
  <%= will_paginate @candidate %>
</div>
