<%= image_tag @candidate.avatar.url if @candidate.avatar? %>

<p>
  <strong>Candidate name:</strong>
  <%= @candidate.candidate_fullname %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @candidate.date_of_birth %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @candidate.phone %>
</p>


<a href="<%= @candidate.cv %>" download>download</a>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>