<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">

      <h2><%= t('candidate.show.Profile') %></h2>

        <div class="avatar-show">
          <%= image_tag @candidate.avatar.url(:show), class: "image" %>
        </div>

      <h2><%= @candidate.user.first_name %> <%= @candidate.user.last_name %></h2>

      <h4><%= @candidate.date_of_birth %></h4>

      <h6><%= @candidate.phone %></h6>

      <a href="<%= @candidate.cv %>" download><%= t('candidate.show.Download') %></a> 

      <div>
        <ul class="social-icons">
          <li><%= link_to '', '#', class: "facebook fab fa-facebook" %></li>
          <li><%= link_to '', '#', class: "twitter fab fa-twitter" %></li>
          <li><%= link_to '', '#', class: "github fab fa-github" %></li>
          <li><%= link_to '', '#', class: "linkedin fab fa-linkedin" %></li>
        </ul>
      </div>

      <p><button><%= t('candidate.show.Contact') %></button></p>

      <div>
        <% if current_user.id == @candidate.user_id %>
          <%= link_to t('common.Edit'), edit_candidate_path(@candidate), class: "btn btn-primary btn-sm" %>
        <% end %>

        <%= link_to t('common.Back'), root_path, class: "btn btn-danger btn-sm" %>
      </div>

    </div>
    
  </div>
</div>
