<h1><%= t('employer.Employers') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('employer.logo') %></th>
      <th><%= t('employer.name') %></th>
      <th><%= t('employer.size') %></th>
      <th><%= t('employer.description') %></th>
      <th><%= t('common.action') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @employers.each do |employer| %>
  <tr>
      <%= link_to image_tag(employer.company_logo.url(:thumb), class: "image"), employer %>
      <td><%= link_to employer.company_name, employer %></td>
      <td><%= employer.company_size %></td>
      <td><%= raw(employer.company_description) %></td>
      <td><%= link_to t('common.Show'), employer %></td>
      <% if current_user.id == employer.user_id %>
        <td><%= link_to t('common.Edit'), edit_employer_path(employer) %></td>
        <td><%= link_to t('common.Delete'), employer, method: :delete, data: { confirm: 'Are you sure?' } %></td>  
      <% end %>
  </tr>
  <% end %>
  </tbody>
</table>

<br>

<div class="paginate">
  <%= will_paginate @employer %>
</div>
