
<h2><%= t('employer.show.Profile') %></h2>

<p>
  <%= image_tag @employer.company_logo.url(:show) %>
</p>

<p>
  <strong><%= t('employer.name') %></strong>
  <%= @employer.company_name %>
</p>

<p>
  <strong><%= t('employer.size') %></strong>
  <%= @employer.company_size %>
</p>

<p>
  <strong><%= t('employer.description') %></strong>
  <%= raw(@employer.company_description) %>
</p>

<% if current_user.id == @employer.user_id %>
  <%= link_to t('common.Edit'), edit_employer_path(@employer) %> 
<% end %>

