
<%= simple_form_for(@job_post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> CRUD job post
    <%= f.input :job_location,
                collection: JobPost.job_location_views%>
    <%= f.input :job_type,
                collection: JobPost.job_type_views,
                prompt: "Select Job Type" %>
<<<<<<< HEAD
    <%= f.input :salary_min %>
    <%= f.input :salary_max %>
    <%= f.input :post_title %>
    <%= f.input :job_description, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } } %>
=======
    <%= f.association :employer %>
    <%= f.input :job_location %>
    <%= f.input :job_type %>
    <%= f.input :job_status %>
    <%= f.input :post_priority %>
=======
>>>>>>> CRUD job post
    <%= f.input :salary_min %>
    <%= f.input :salary_max %>
    <strong>
      <%= f.input :post_title, as: :string %>
    </strong>
    <%= f.input :job_description %>
>>>>>>> create and validate model job post
    <%= f.input :job_expired_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
