<p id="notice"><%= notice %></p>

<h1>Job Posts</h1>

<%= search_form_for(@q) do |f| %>
  <%= f.label "Search Job: " %>
  <%= f.search_field :post_title_cont %>
  <%= f.select :job_location_eq,
               Settings.job_location.search.to_h,
               prompt: "Job Location",
               include_blank: true %>
  <%= f.select :job_type_eq,
               Settings.job_type.search.to_h,
               prompt: "Job Type",
               include_blank: true %>
  <%= f.select :salary_min_gteq,
               Settings.salary_min.to_a,
               prompt: "Salary Min",
               include_blank: true %>
  <%= f.select :salary_max_lteq,
               Settings.salary_max.to_a,
               prompt: "Salary Max",
               include_blank: true %>
  <%= f.submit %>
<% end %>

  <%= render "job_posts/card" %>

<br>
<% if is_employer? %>
  <%= link_to 'New Job Post', new_job_post_path %>
<% end %>
