<h1>Job Posts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Employer</th>
      <th>Job location</th>
      <th>Job type</th>
      <th>Job status</th>
      <th>Post priority</th>
      <th>Salary min</th>
      <th>Salary max</th>
      <th>Post title</th>
      <th>Job description</th>
      <th>Job expired date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_posts.each do |job_post| %>
      <tr>
        <td><%= job_post.employer_id %></td>
        <td><%= JobPost.job_location_views.key(job_post.job_location) %></td>
        <td><%= JobPost.job_type_views.key(job_post.job_type) %></td>
        <td><%= job_post.job_status %></td>
        <td><%= job_post.post_priority %></td>
        <td><%= job_post.salary_min %></td>
        <td><%= job_post.salary_max %></td>
        <td><%= job_post.post_title %></td>
        <td><%= job_post.job_expired_date %></td>
        <td><%= link_to 'Show', job_post %></td>
        <% if authenticate_employer job_post %>
          <td><%= link_to "Edit", edit_job_post_path(job_post) %></td>
          <td><%= link_to 'Destroy', job_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if is_employer? %>
  <td><%= link_to 'New Job Post', new_job_post_path %></td>
<% end %>
