<p>
  <strong>Employer:</strong>
  <%= @job_post.employer.user.first_name %>
</p>

<p>
  <strong>Post title:</strong>
  <%= @job_post.post_title %>
</p>

<p>
  <strong>Job location:</strong>
  <%= @job_post.job_location %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @job_post.job_type %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job_post.salary_min %>
-
  <%= @job_post.salary_max %>
</p>

<p>
  <strong>Job description:</strong>
  <%= raw(@job_post.job_description) %>
</p>

<p>
  <strong>Job expired date:</strong>
  <%= @job_post.job_expired_date %>
</p>

<% if authenticate_employer @job_post %>
   | <%= link_to "Edit", edit_job_post_path(@job_post) %>
<% end %>
<%= link_to 'Back', job_posts_path %>
