<p id="notice"><%= notice %></p>

<p>
  <strong>Employer:</strong>
  <%= @job_post.employer_id %>
</p>

<p>
  <strong>Job location:</strong>
  <%= @job_post.job_location %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @job_post.job_type %>
</p>

<p>
  <strong>Job status:</strong>
  <%= @job_post.job_status %>
</p>

<p>
  <strong>Post priority:</strong>
  <%= @job_post.post_priority %>
</p>

<p>
  <strong>Salary min:</strong>
  <%= @job_post.salary_min %>
</p>

<p>
  <strong>Salary max:</strong>
  <%= @job_post.salary_max %>
</p>

<p>
  <strong>Post title:</strong>
  <%= @job_post.post_title %>
</p>

<p>
  <strong>Job description:</strong>
  <%= raw(@job_post.job_description) %>
</p>

<p>
  <strong>Job expired date:</strong>
  <%= @job_post.job_expired_date %>
</p>

<%= link_to 'Edit', edit_job_post_path(@job_post) %> |
<%= link_to 'Back', job_posts_path %>
