<!DOCTYPE html>
<html>

<head>
  <title>Job</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag Ckeditor.cdn_url %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container-fluid">
    <%= render  "shared/header" %>
  </div>

  <div class="container">
    <% if flash[:notice] %>
    <div class="notice global-notification">
      <%= notice %></p>
    </div>
    <% end %>
    <% if flash[:alert] %>
    <div class="alert global-notification">
      <%= alert %></p>
    </div>
    <% end %>
    <%= yield %>
  </div>

  <div class="container-fluid">
    <%= render  "shared/footer" %>
  </div>

</body>

</html>